html, body {
    height: 100%;
}


* {
    font-family:"sf-atarian-system-bold" !important;
    color: white;
}

p, #spanSecretRandom, .score, .lead {
    font-size: 30px;
}

.display-4 {
    color: white;
    font-size: 100px;
    line-height: 80px;
    letter-spacing: 3px;
}

body {
display: flex;
flex-direction: column;
background-color: orange;
/* background-image: url("../images/wildtextures-old-paper-texture-3.png"); */
}

.jumbotron,.jumbotron-fluid {
    background: none;
    margin: 0px;
    padding: 30px 0px;
}



.content {
flex: 1 0 auto;
}

.border {
    /* border-radius: 20px; */
    background-color: darkslategrey;
}

.border-2 {
    border: 5px solid white;
    /* border-radius: 20px; */
    padding: 20px 0px;
}



.column {
    padding: 10px; 
}

.footer {
flex-shrink: 0;
}

