*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: orange;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    color: #FFF;
}

p, #spanSecretRandom, .score, .lead {
    font-size: 30px;
}

.display-4 {
    color: white;
    font-size: 100px;
    line-height: 80px;
    letter-spacing: 3px;
}

.jumbotron, .jumbotron-fluid {
    background: none;
    margin: 0px;
    padding: 30px 0px;
}

.content {
    flex: 1 0 auto;
}

.border {
    background-color: darkslategrey;
}

.border-2 {
    border: 5px solid white;
    padding: 20px 0px;
}

.column {
    padding: 10px; 
}

.footer {
    flex-shrink: 0;
}